.headerApp{
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-block: 5px;
    background-color: #ea9828;
}
.logo{
    height: auto;
    max-width:73px;
}
.avatar{
    color: aliceblue;
    background-color: #632106;
    border-radius: 100%;
    display: flex;
    align-items: center;
    padding: 9px;
    margin-left: 10px;
    opacity:  90%;
}
@media only screen and (max-width: 480px) {
    .logo{
        height: auto;
        max-width:47px;
        display: none;
    }
    .headerApp{
        padding-bottom: 0;
        padding-top: 5px;
        display: none;
    }
    .avatar{
        background-color: #ea9828;
        display: none;
    }
}

