:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #faf4e5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100%;
}
input {
  height: 2rem;
  border-width: 0px;
  width: 90%;
  padding-block: 20px ;
  padding-left: 15px;
  background-color: transparent;
  box-sizing: border-box;
}
input:focus {
  outline: none;
  border-color: transparent;
}
.searchContainer{
  position: relative;
  margin: 20px 0;
}
.searchContainer input{
    padding: 20px 8px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 10px;
    background-color: #eceae5;
    outline: none;
}
.searchContainer label{
  position: absolute;
  top: 12px;
  left: 8px;
  color: #999;
  background: transparent;
  padding: 0 4px;
  transition: 0.2s ease;
  pointer-events: none;
}

.searchContainer input:focus + label,
.searchContainer input:not(:placeholder-shown) + label {
  top: -8px;
  left: 6px;
  font-size: 12px;
  color: #722FF5;
}