:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #faf4e5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100%;
}
input {
  height: 2rem;
  border-width: 0px;
  width: 90%;
  padding-block: 20px ;
  padding-left: 15px;
  background-color: transparent;
  box-sizing: border-box;
}
input:focus {
  outline: none;
  border-color: transparent;
}
.searchContainer{
    display: flex;
    flex-direction:row; 
    align-items: center;
    justify-content: center;
    padding-block: 5px;
    width: 100%;
    border-radius: 30px;
    background-color: #eceae5;
}